.app {
    display: flex;

    &__sidebar {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        min-width: 350px;
    }

    &__header {
        flex: 0 0 auto;
    }

    &__vehicles-list {
        flex: 1 1 auto;
    }

    &__map {
        flex: 1 1 auto;
    }
}
