@import 'roboto-fontface/css/roboto/roboto-fontface.css';

.app {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

    &__sidebar {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        min-width: 350px;
    }

    &__header {
        flex: 0 0 auto;
    }

    &__vehicles-list {
        flex: 1 1 auto;
    }

    &__map {
        flex: 1 1 auto;
    }
}
