.app-header {
    display: flex;
    height: 70px;
    background-color: #4a4a4a;
    align-items: center;

    &__logo {
        position: relative;
        display: inline-block;
        height: 47px;
        margin-left: 10px;

        img {
            height: 100%;
        }
    }
}
