.my-taxi-vehicle-list-item {
    &__status {
        padding: 3px 5px;
        color: #fff;
        font-weight: bold;

        &--active {
            background-color: #5eb000;
        }

        &--inactive {
            background-color: #df3800;
        }
    }
}
